doctype html
html(lang="en")

  head
    title Josquin/API
    link(rel="stylesheet" href="style.css")

  body

    #nav

      form.form-render

        .form-group
          label Root Note
          input.form-control.input-sm(name="root", value="C")

        .form-group
          label Tree Depth
          input.form-control.input-sm(name="depth", value="2")

        .form-group
          label Max Children
          input.form-control.input-sm(name="max-children", value="6")

        .form-group
          label Min Count
          input.form-control.input-sm(name="min-count", value="3")

        .form-group
            label
            input(type="checkbox" id="rcheck" name="reverse")
            |  Reverse

        label Count Display
        form(role="form")
        div#radio_buttons.form-group
          label.radio-inline
          input(type="radio", name="count_display", value="raw", checked="")
          |  Raw
          label.radio-inline
          input(type="radio", name="count_display", value="pct")
          |  Pct
          label.radio-inline
          input(type="radio", name="count_display", value="none")
          |  None

      button.btn.btn-primary#b_render Render Tree(s)


    #rootA
      h3 Selection A
      h4.countA

      form.form-data

        .form-group
          label Composer
          select.form-control.input-sm(type="select", name="composer", id="composer_A")
            option(value="Agr") Agricola
            option(value="Ano") Anonymous
            option(value="Bru") Brumel
            option(value="Bus") Busnoys
            option(value="Com") Compere
            option(value="Duf") Du Fay
            option(value="Gas") Gaspar
            option(value="Isa") Isaac
            option(value="Jap") Japart
            option(value="Jos" "selected") Josquin
            option(value="Joa") Josquin (secure)
            option(value="Job") Josquin (not secure)
            option(value="Rue") La Rue
            option(value="Mar") Martini
            option(value="Mou") Mouton
            option(value="Obr") Obrecht
            option(value="Ock") Ockeghem
            option(value="Ort") de Orto
            option(value="Pip") Pipelare
            option(value="Reg") Regis
            option(value="Tin") Tinctoris

        .form-group
          label Genre
          select.form-control.input-sm(type="select", name="genre", id="genre_A")
            option(value="") All
            option(value="masses") Masses
            option(value="motets") Motets
            option(value="songs" "selected") Songs

        .form-group
          label Voices
          select.form-control.input-sm(type="select", name="voice", id="voice_A")
            option(value="") All

      button.btn.btn-primary.b-load(value="A") Load Data

    #rootB
      h3 Selection B
      h4.countB

      form.form-data

        .form-group
          label Composer
          select.form-control.input-sm(type="select", name="composer", id="composer_B")
            option(value="Agr" ) Agricola
            option(value="Ano") Anonymous
            option(value="Bru") Brumel
            option(value="Bus") Busnoys
            option(value="Com") Compere
            option(value="Duf") Du Fay
            option(value="Gas") Gaspar
            option(value="Isa") Isaac
            option(value="Jap") Japart
            option(value="Jos") Josquin
            option(value="Joa") Josquin (secure)
            option(value="Job") Josquin (not secure)
            option(value="Rue") La Rue
            option(value="Mar") Martini
            option(value="Mou") Mouton
            option(value="Obr") Obrecht
            option(value="Ock" "selected") Ockeghem
            option(value="Ort") de Orto
            option(value="Pip") Pipelare
            option(value="Reg") Regis
            option(value="Tin") Tinctoris

        .form-group
          label Genre
          select.form-control.input-sm(type="select", name="genre", id="genre_B")
            option(value="") All
            option(value="masses") Masses
            option(value="motets") Motets
            option(value="songs" "selected") Songs

        .form-group
          label Voices
          select.form-control.input-sm(type="select", name="voice", id="voice_B")
            option(value="") All

      button.btn.btn-primary.b-load(value="B") Load Data

    script(src="script.js")
