doctype html
html(lang="en")

  head
    title Josquin
    link(rel="stylesheet" href="style.css")

  body

    #nav

      .count

      form

        .form-group
          label Root Note
          input.form-control.input-sm(name="root", value="A")

        .form-group
          label Tree Depth
          input.form-control.input-sm(name="depth", value="2")

        .form-group
          label Max Children
          input.form-control.input-sm(name="max-children", value="6")

      button.btn.btn-primary Render Tree

    #root

    script(src="script.js")
