

.tree {

  .link {
    fill: none;
    stroke: #eee;
  }

  .node {
    cursor: pointer;
    circle {
      // stroke: black;

    }
    text {
      font-family:serif;
      text-anchor: end;
      font-size: 12px;
      user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;

      &.leaf {
        text-anchor: start;
      }

    }

  }

}
